[golerta]
    signing_key = "{{ .Env.SIGNING_KEY }}"
    auth_provider = "{{ .Env.AUTH_PROVIDER }}"
    continuous_query_interval = "{{ .Env.CONTINUOUS_QUERY_INTERVAL }}"
    log_alert_requests = {{ .Env.LOG_ALERT_REQUESTS }}

[flapdetection]
    enabled = {{ .Env.FLAP_DETECTION_ENABLED }}
    half_life_seconds = {{ .Env.FLAP_DETECTION_HALF_LIFE_SECONDS }}
    threshold = {{ .Env.FLAP_DETECTION_THRESHOLD }}
    minimum_score = {{ .Env.FLAP_DETECTION_MINIMUM_SCORE }}

[ldap]
    host = "{{ .Env.LDAP_HOST }}"
    port = {{ .Env.LDAP_PORT }}
    base_dn = "{{ .Env.LDAP_BASE_DN }}"
    bind_dn = "{{ .Env.LDAP_BIND_DN }}"
    bind_password = "{{ .Env.LDAP_BIND_PASSWORD }}"
    user_filter = "{{ .Env.LDAP_USER_FILTER }}"
    use_ssl = {{ .Env.LDAP_USE_SSL }}

[oauth]
    host = "{{ .Env.OAUTH_HOST }}"
    client_id = "{{ .Env.OAUTH_CLIENT_ID }}"
    response_type = "{{ .Env.OAUTH_RESPONSE_TYPE }}"

[rethinkdb]
    address = "{{ .Env.RETHINKDB_ADDRESS }}"
    database = "{{ .Env.RETHINKDB_DATABASE }}"
    alert_history_limit = {{ .Env.RETHINKDB_ALERT_HISTORY_LIMIT }}

[notifiers]
    trigger_severities = [{{ .Env.NOTIFIER_TRIGGER_SEVERITIES }}]

[notifiers.file]
    enabled = {{ .Env.FILE_NOTIFIER_ENABLED }}
    files = ["stdout"]

[notifiers.pagerduty]
    enabled = {{ .Env.PAGERDUTY_NOTIFIER_ENABLED }}
    service_key = "{{ .Env.PAGERDUTY_SERVICE_KEY }}"
